<html>
<head>
    <title>CobraTeam website - CobraTeam.info</title>
    <link rel="stylesheet" type="text/css" href="static/cobra.css">
</head>
<body>
    <div id="header">
      <img src="/static/logo.png"/>
       <br><br>
       <ul>
         <li><a href="/staff">STAFF</a> |</li>
         <li><a href="/challenges">CHALLENGES</a> |</li>
         <li><a href="/contact">CONTACT</a></li>
       </ul>
    </div>
    <div id="content">
      {% block content %}bunda{% endblock %}
    </div>
    <div id="footer">
      2010 - CobraTeam
    </div>
</body>
</html>
