{% extends "base.html" %}

{% block content %}
    <h1>Team</h1>
    <ul>
      <li>
        <a href="http://www.github.com/andrewsmedina/">Andrews Medina</a>
      </li>
      <li>
        <a href="http://www.github.com/diofeher/">Diógenes Augusto</a>
      </li>
      <li>
        <a href="http://www.github.com/flavioribeiro/">Flávio Ribeiro</a>
      </li>
      <li>
        <a href="http://www.github.com/igorsobreira/">Igor Sobreira</a>
      </li>
      <li>Osvaldo Santana</li>
      <li>Enrico</li>
    </ul>
{% endblock %}
